@import url('../../View/global.css');

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--primary-dark);
  font-family: var(--main-font);
  width: 100%;
  position: fixed;
  z-index: 100;
}

a, .logout-button{
  background-color: var(--primary-dark);
  color: var(--tertiary);
  text-decoration: none;
}

.left, .middle, .right{
  background-color: var(--primary-dark);
}

.left{
  margin-left: 30px;
}

.right{
  margin-right: 30px;
}

.middle{
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.logo{
  font-weight: bold;
}

.logout-button{
  border: none;
  font-weight: bold;
  font-family: (--main-font);
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  transition: all 100ms linear;
}

.logout-button:hover{
  cursor: pointer;
  background-color: var(--secondary);
}
