.manager-manage-employees-termination-letter-proposal-view .manager-manage-employees-termination-letter-proposal-view-container{
  margin: 0 30px 0 30px;
}

.manager-manage-employees-termination-letter-proposal-view 
.manager-manage-employees-termination-letter-proposal-view-container
.action-container {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}